@import url('./tailwind.css');

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition-duration: 0.25s;
}

/* Scrollbar section */
::-webkit-scrollbar {
  width: 0.5625rem;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 0.3125rem;
}

::-webkit-scrollbar-thumb {
  background:
    linear-gradient(
      45deg,
      rgba(18, 18, 18, 0.25),
      rgba(2, 144, 255, 0.7) 100%
    );
  border-radius: 0.3125rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(120 113 108);
}
